:root {
    --primaryFont: 'Roboto', sans-serif;

    --phone: 480px;
    --tablet: 768px;
    --desktop: 1024px;

    --primary: hsl(356, 77%, 61%);
    --primaryDark: hsl(356, 77%, 56%);
    --secondary: hsl(199, 18%, 33%); 
    --secondaryDark: hsl(199, 18%, 23%); 
    --black: #000;
    --white: #FFFFFF;
    --lightGrey: #eceeef;

    --separation: 5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
}

p {
    color: var(--black);
    font-size: 2rem;
}

.conteiner {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    border: none;
    border-radius: 1rem;
    display: block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    margin: 0 0 var(--separation)  0 ;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

/* ==== header ==== */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--separation);
}

.logo {
    min-width: 30rem;
    margin-bottom: var(--separation);
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
    }
    .logo {
        margin-bottom: 0;
    }
    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.nav-link {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

.nav-link:hover {
    font-weight: 900;
}

.link-register {
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 3rem;
}

.link-register:hover {
    background-color: var(--primaryDark);
    font-weight: 700;
}

/* ==== form ==== */

.form {
    width: 100%;
}

.form-grid {
    display: grid;
    gap: var(--separation);
}

@media (min-width: 768px) {
    .form {
        width: 95%;
    }
    .form-grid {
        grid-template-columns: repeat( 2, 1fr );
    }
}

.form-content {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--separation);
}

@media (min-width: 768px) {
    .form-content {
        padding: calc( var(--separation) * 2 ) var(--separation);
    }
}

.form-content .heading {
    text-align: center;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.field input {
    width: 100%;
    padding: 1rem;
}

.submit {
    background-color: var(--secondary);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    width: 100%;
    transition: background-color .3s ease;
}

.submit:hover {
    background-color: var(--secondaryDark);
}

.form-img {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .form-img {
        width: 100%;
        margin-top: auto;
    }
}